<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wise.zaitu"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="7"/>
 	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" android:required="false" />
        <activity
            android:name="com.wise.zaitu.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:theme="@android:style/Theme.NoTitleBar" android:name=".AVTActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name=".SplashActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.NoTitleBar" android:name=".LoginAvtivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:name=".ConfigActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:name=".ProposalActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:name=".AVTBDActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden" />
    </application>	
</manifest>